.contact-card {
	margin: 10px 10px;
	display: flex;
	align-items: center;
	border: 1px solid #4242422f;
	padding: 20px;
	border-radius: 20px;
	transition: all ease 0.5s;
}

.contact-card:hover {
	border: 1px solid #4242424f;
	transform: scale(1.02);
	cursor: pointer;
	background-color: #57585811;
	box-shadow: 13px 24px 76px -10px rgba(87, 79, 79, 0.51);
}

.contact-details {
	padding-left: 20px;
	border-left: 1px solid #eee;
	text-align: left;
	color: rgba(71, 71, 71, 0.9);

	h3 {
		font-weight: 600;
	}
}
