.container {
	width: 100vw;
	margin: 0;
	@include flex-center;
	flex-direction: column;
}

@media screen and (min-width: 1024px) {
	.container {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: 100px 1fr;
		place-items: left;
	}
}
